[Unit]
Description="{{ chair_name }}-vmraid-schedule"
PartOf={{ chair_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ chair_cmd }} schedule
StandardOutput=file:{{ chair_dir }}/logs/schedule.log
StandardError=file:{{ chair_dir }}/logs/schedule.error.log
WorkingDirectory={{ chair_dir }}
