[Unit]
Description="{{ chair_name }}-redis-queue"
PartOf={{ chair_name }}-redis.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ redis_server }} {{ redis_queue_config }}
StandardOutput=file:{{ chair_dir }}/logs/redis-queue.log
StandardError=file:{{ chair_dir }}/logs/redis-queue.error.log
WorkingDirectory={{ sites_dir }}
