[Unit]
After={{ chair_name }}-vmraid-web.service
Description="{{ chair_name }}-node-socketio"
PartOf={{ chair_name }}-web.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ node }} {{ chair_dir }}/apps/vmraid/socketio.js
StandardOutput=file:{{ chair_dir }}/logs/node-socketio.log
StandardError=file:{{ chair_dir }}/logs/node-socketio.error.log
WorkingDirectory={{ chair_dir }}
