[Unit]
Description="{{ chair_name }}-vmraid-default-worker %I"
PartOf={{ chair_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ chair_cmd }} worker --queue default
StandardOutput=file:{{ chair_dir }}/logs/worker.log
StandardError=file:{{ chair_dir }}/logs/worker.error.log
WorkingDirectory={{ chair_dir }}
